.wrapper {
  height: 100%;
  width: 100%;
  z-index: 1100;
  position: fixed;
  overflow-y: auto;
  color: black;
  overscroll-behavior: contain;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0;
  background-color: #fafafa;
  transform: translateY(100%);
  top: 0;
}

@supports (backdrop-filter: blur(10px)) {
  .wrapper {
    backdrop-filter: blur(50px);
    background-color: rgba(249, 249, 249, 0.85);
  }
}

.inactive {
  pointer-events: none;
  opacity: .6;
}
.normal .song-title {
  background-color: white;
}
.wrapper section:last-child {
  border-radius: 0.5rem 0.5rem 0 0;
}
.wrapper :global(.header) h1 {
  justify-content: center;
  padding-top: 0.2em;
  padding-bottom: 0.7em;
}
.header {
  display: contents;
  text-align: center;
}

.top-row {
  margin-bottom: 2.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 100;
}

.main section {
  box-shadow: 0 0 0 1px rgba(0,0,0,.05), rgba(0, 0, 0, 0.03) 0 3px 6px, rgba(0, 0, 0, 0.02) 0 9px 24px;
  background-color: white;
  max-width: 32rem;
  margin: 0 auto;
  padding: 0 1px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.main section:first-child {
  border-radius: 0 0 0.5rem 0.5rem;
  padding-top: 1em;
  position: relative;
  top: -2px;
}
@media (min-width: 32rem) {
  .main section:first-child {
    border-radius: 0.5rem;
    margin-top: 4rem;
  }
  .main section:last-child {
    border-radius: 0.5rem;
    margin-bottom: 4rem;
  }
}

.main h3 {
  margin: 0 auto;
  max-width: 32rem;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2rem 1rem 0.6rem;
}

.main input {
  margin: 0 !important;
}

.main label:not(:global(.button)) {
  align-self: unset;
  font-size: 1rem;
}
.main textarea {
  margin: 0 -0.2em;
  width: calc(100% + 0.4em);
}

.input-row {
  flex-direction: column;
  align-items: start !important;
}

.album-title {
  flex-grow: 1;
  margin-left: 1em;
}
.album-title input:global(#title) {
  height: 100%;
  max-height: unset;
  font-size: 1.5rem;
  padding: .4rem 1rem;
}
.album-title input::placeholder,
.song-title::placeholder  {
  font-style: italic;
  font-weight: normal;
  font-family: serif;
}

.song-list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  position: relative;
  margin-top: 0;
}

.dragndrop {
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  height: calc(100% + 1.5em);
  width: 2.5em;
  border-radius: 100px;
  background-color: #fafafa;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.2);
  cursor: grab;
}

.dragndrop span {
  transform: rotate(90deg) translateY(-3px);
  white-space: nowrap;
}

.song-list li {
  padding: 1.2em 0 0.2em;
  display: flex;
}

.song-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.song-number {
  transform: translateY(-20%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 0;
  border-radius: 50px;
  min-height: 2.15em;
  min-width: 2.15em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.song-data {
  flex-grow: 1;
  margin-right: 3em;
}

.song-list .aside {
  margin-right: 0.6em;
  margin-left: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.song-title {
  background-color: white;
}

:global(.row).input-row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

input.audio-input, input.cover-image, input.release-as-single {
  display: none;
}

.cover-image {
  flex-basis: 50%;
  max-width: 100px;
  overflow: hidden;
  border-radius: 7px;
  position: relative;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 0 !important;
}
.cover-image img {
  position: relative;
}

.switch-row {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: calc(100% + 2rem);
  margin: -1rem -1rem -0.7rem;
  padding: 1rem 1rem 0.7rem !important;
  transition: background-color 100ms;
}
@media (pointer: fine) {
  .switch-row:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}
:global(.button).cover-image-upload {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.7) !important;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 0.85em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}
.main :global(.row) {
  padding: 1rem;
}
.row {
  align-items: flex-start !important;
}

label:global(.switch) {
  height: 1.9rem;
  width: 3.15rem;
  background-color: #fafafa;
  display: inline-block;
  border-radius: 100px;
  box-shadow: inset rgba(0, 0, 0, 0.4) 0 0 2px 0;
  padding: 0 !important;
  transition: background-color 300ms;
  position: absolute;
  right: 1.3rem;
}
label:global(.switch) :global(.knob) {
  display: inline-block;
  position: relative;
  height: calc(1.9rem - 3px);
  width: calc(1.9rem - 2px);
  background-color: white;
  border-radius: 100px;
  top: 1.5px;
  transform: translateX(1.5px);
  box-shadow:
    inset rgba(0, 0, 0, 0.3) 0 0 1px 0,
    inset rgba(0, 0, 0, 0.1) 0 -2px 2px -2px,
    rgba(0, 0, 0, 0.25) 0 5px 4px -2px;
  transition: transform 300ms;
}
input:global(.switch):checked ~ label:global(.switch) {
  background-color: #4CD964;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 0;
}
input:global(.switch):checked ~ label:global(.switch) :global(.knob) {
  transform: translateX(calc(3.15rem - 1.9rem));
  box-shadow:
    inset rgba(0, 0, 0, 0.4) 0 0 1px 0,
    inset rgba(0, 0, 0, 0.1) 0 -2px 2px -2px,
    rgba(0, 0, 0, 0.32) 0 5px 4px -2px
}