.wrapper {
  height: 100%;
  width: 100%;
  z-index: 1100;
  position: fixed;
  overflow-y: auto;
  color: #212121;
  overscroll-behavior: contain;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0;
  background-color: #fafafa;
}

@supports (backdrop-filter: blur(10px)) {
  .wrapper {
    backdrop-filter: blur(50px);
    background-color: rgba(249, 249, 249, 0.85);
  }
}

.wrapper section:last-child {
  border-radius: 0.5rem 0.5rem 0 0;
  padding-bottom: 2em;
}
.wrapper :global(.header) h1 {
  justify-content: center;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
.header {
  display: contents;
  text-align: center;
}

.top-row {
  margin-bottom: 2.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 100;
}

.main section {
  box-shadow: rgba(0, 0, 0, 0.2) inset 0 0 2px 0, rgba(0, 0, 0, 0.2) 0 1px 1px -1px, rgba(0, 0, 0, 0.02) 0 2px 12px 0;
  background-color: white;
  max-width: 32rem;
  margin: 0 auto;
  padding: 0.8em 1px;
  border-radius: 0.5rem;
}
.main section:first-child {
  border-radius: 0 0 0.5rem 0.5rem;
  padding-top: 1em;
  position: relative;
  top: -2px;
}

.main h3 {
  margin: 0 auto;
  max-width: 32rem;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2rem 1rem 0.5rem;
}

.main input {
  margin: 0 !important;
}

.main label:not(:global(.button)) {
  align-self: start;
  padding: 0.5em 0.2em 0.1em;
  font-size: 1rem;
  font-weight: bold;
}
.main textarea {
  margin: 0 -0.2em -0.5em;
  width: calc(100% + 0.4em);
}

.input-row {
  flex-direction: column;
  align-items: start !important;
}

.album-title {
  flex-grow: 1;
  margin-left: 1em;
}

.song-list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  position: relative;
  margin-top: 0;
}

.dragndrop {
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  height: calc(100% + 1.5em);
  width: 2.5em;
  border-radius: 100px;
  background-color: #fafafa;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.2);
  cursor: grab;
}

.dragndrop span {
  transform: rotate(90deg) translateY(-3px);
  white-space: nowrap;
}

.song-list li {
  padding: 1.2em 0 0.2em;
  display: flex;
}

.song-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.song-number {
  transform: translateY(-20%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 0;
  border-radius: 50px;
  min-height: 2.15em;
  min-width: 2.15em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.song-data {
  flex-grow: 1;
  margin-right: 3em;
}

.song-list .aside {
  margin-right: 0.6em;
  margin-left: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.song-title {
  background-color: white;
}

.song-title::placeholder {
  font-style: italic;
  font-weight: 300;
}

:global(.row).input-row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

input.audio-input, input.cover-image, input.release-as-single {
  display: none;
}

.cover-image {
  flex-basis: 50%;
  max-width: 70px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 0 !important;
}
.main label[for='story'],
.main label[for='release-your-album'] {
  padding-left: 0;
}
.main label[for='release-as-single'] {
  padding: 0;
  align-self: unset;
}
.switch-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
:global(.button).cover-image-upload {
  background-color: white !important;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 0.85em;
  text-align: center;
}
.main :global(.row) {
  padding-bottom: 2em;
  padding-top: 2em;
}
.row {
  align-items: flex-start !important;
}

/* input:global(.switch) {

} */
label:global(.switch) {
  height: 1.6rem;
  width: 2.75rem;
  background-color: #f0f0f0;
  display: inline-block;
  border-radius: 100px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 0;
  padding: 0 !important;
  transition: background-color 300ms;
}
label:global(.switch) :global(.knob) {
  display: inline-block;
  height: 1.6rem;
  width: calc(1.6rem + 1px);
  background-color: white;
  border-radius: 100px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 -0.5px 1px 0, rgba(0, 0, 0, 0.3) 0 2px 2px -2px;
  transition: transform 200ms;
}
input:global(.switch):checked ~ label:global(.switch) {
  background-color: #4CD964;
  box-shadow: inset rgba(0, 0, 0, 0.4) 0 0 2px 0;
}
input:global(.switch):checked ~ label:global(.switch) :global(.knob) {
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 -0.5px 1px 0, rgba(0, 0, 0, 0.4) 0 2px 2px -2px;
  transform: translateX(calc(2.75rem - 1.6rem + 1px));
}