.album {
  padding-bottom: 4rem;
}

.header {
  font-size: 1rem;
  width: 100%;
}
.header-inner {
  display: flex;
  width: calc(100% + 1.25em);
  margin: .5rem -.5rem;
}
.header-inner > * {
  margin: 0.5em;
}
.header-image {
  flex-basis: 35%;
  max-width: 200px;
  flex-shrink: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow:
   rgba(0, 0, 0, 0.1) 0 0 2px 0,
   rgba(0, 0, 0, .15) 0 3px 9px,
   rgba(0, 0, 0, .1) 0 7px 24px;
}
.header-infos {
  flex-grow: 1;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
.header-title {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}
.artists {
  margin-top: 0.5rem;
}
.artists,
.header-items-row {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
}
.header-items-row {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
}

.header-items-row,
.header-items-row :global(.icon) {
  color: rgba(0, 0, 0, 0.5);
}
.album-menu {
  margin-right: -1rem;
}
.misc {
  margin-right: auto;
}
.shuffle-button {
  border-radius: 100px;
  color: white;
  padding: calc(0.5rem + 1px) 1.125rem 0.5rem 1rem;
  font-weight: 500;
}
.shuffle-button svg {
  fill: white;
  stroke-width: 3px;
  margin-right: 0.25em;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: white;
}

.main {
  padding: 0 1rem 1rem;
}

.story {
  text-align: center;
  margin: 3em 0;
}
.story h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9375rem;
}
.story blockquote {
  margin: 1em;
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
}

.footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}