.main {
  margin: 2rem 1rem;
}
.main form {
  max-width: 24rem;
  margin: 0 auto;
}

.main label {
  position: relative;
  font-weight: bold;
}
.input-container input[type='text'] {
  margin: 0;
}

.input-container {
  display: flex;
  align-items: center;
  margin: 1em 0;
}
.input-container > *:first-child{
  margin-right: 0.5em;
  text-align: right;
  min-width: 6em;
}
