.artist {
  padding-bottom: 4rem;
}

.header-inner {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}
.header-inner > * {
  margin: 0.5em;
}
.header-image {
  width: 100%;
  max-width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 300px;
  overflow: hidden;
  box-shadow:
    inset rgba(0, 0, 0, 0.2) 0 0 2px 0,
    rgba(0, 0, 0, .2) 0 8px 36px -8px;
}

.header-title {
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.main {
  padding: 1rem;
}
.main section {
  margin-bottom: 4rem;
}

.footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}