.main {
  background-color: white;
}

.main section {
  background-color: white;
  max-width: 32rem;
  margin: 0 auto;
  padding: 0.8em 1px 0;
  border-radius: 0.5em;
}
.main h3 {
  margin: 0 auto;
  max-width: 32rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2rem 1rem 0.5rem;
}

.input-container input[type='text'] {
  margin: 0;
}

.input-container {
  align-items: center;
  width: 100%;
  max-width: 25em;
}
.main .input-container input {
  margin: 0;
}
.input-container > *:first-child {
  margin: 0 0.5em .2em;
  display: inline-block;
}

.save {
  margin: 0;
  display: block;
  width: 100%;
  padding: 0.6em;
}
