.main {
  background-color: #f6f5f4;
  height: 100vh;
  padding-top: 2em;
}

.main section {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.14);
  background-color: white;
  max-width: 32rem;
  margin: 0 auto;
  padding: 0.8em 1px 0;
  border-radius: 0.5em;
}
.main h3 {
  margin: 0 auto;
  max-width: 32rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2rem 1rem 0.5rem;
}

.input-container input[type='text'] {
  margin: 0;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 25em;
}
.main .input-container input {
  margin: 0;
}
.input-container > *:first-child{
  margin-right: 0.5em;
  text-align: right;
  min-width: 4.5em;
}
