.countdown {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.countdown * {
  user-select: auto !important;
}
.inner-wrapper {
  padding: 1rem;
  max-width: 30rem;
}

.divider {
  max-width: 8rem;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  display: inline-block;
  background-color: #555;
}

.inner-wrapper img {
  max-width: 12rem;
  width: 100%;
  display: inline-block;
}

:global(.mce_inline_error[for]) {
  background-color: white !important;
  border: none !important;
  color: orange !important;
}
