/* .music-player {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
}

.music-player:not(.open) {
  display: none;
} */

.player {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: visible;
  color: #212121;
  overscroll-behavior: contain;
  box-shadow: 0 -2px 0 0 #f0f0f0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(100%);
  z-index: 1100;
  top: 0;
}
.player::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  height: 100%;
  background-color: white;
}

.header {
  text-align: center;
}
.header .close {
  color: rgba(0, 0, 0, 0.2);
  stroke-linecap: round;
  stroke-linejoin: round;
  display: block;
}
.header span {
  font-style: italic;
  font-weight: 300;
}
.header h1 {
  margin: 0 0 0.1em;
}

.main {
  flex-grow: 1;
  padding: 1em 1em 0;
}
.cover-image {
  width: 100%;
  max-width: 275px;
  margin: 0 auto;
  box-shadow:
    inset rgba(0, 0, 0, 0.2) 0 0 1px 0,
    rgba(0, 0, 0, 0.2) 0 8px 48px -16px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.cover-image img {
  width: 100%;
  display: block;
}
.song-infos {
  text-align: center;
  margin-top: 2em;
}
.song-infos .title {
  font-weight: bold;
}
.song-infos .artists {
  color: rgba(0, 0, 0, 0.5);
}
.scrubber {
  margin: 1em -0.3em;
  display: flex;
  align-items: center;
}
.scrubber .slider {
  flex-grow: 1;
  margin: 0 1em;
  border-radius: 10px;
  height: 10px;
  background-color: #fafafa;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 2px 0;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls .play svg {
  margin-left: 4px;
}
.controls svg {
  fill: black;
  stroke: black;
  stroke-width: 1px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer button {
  color: rgba(0, 0, 0, 0.6) !important;
  margin: 0;
}
.footer svg {
  stroke-width: 1.5px;
}