.main {
  background-color: #fbf9fa;
  display: flex;
  flex-direction: column;
  display: flow-root;
}

.main section {
  box-shadow: 0 0 0 1px rgba(0,0,0,.05), rgba(0, 0, 0, 0.03) 0 3px 6px, rgba(0, 0, 0, 0.02) 0 9px 24px;
  background-color: white;
  max-width: 32rem;
  margin: 0 auto;
  padding: 0.8em 1px 0;
  border-radius: 0.5rem;
}
.main section:last-child {
  margin-bottom: 6rem;
}
.main h3 {
  margin: 0 auto;
  max-width: 32rem;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2rem 1rem 0.6rem;
}

section.account {
  padding: 1px;
  stroke: rgba(0, 0, 0, 0.35);
}
.account .text {
  flex-grow: 1;
}
.account :global(.row .icon) {
  position: absolute;
  right: 1rem;
  stroke: rgba(0, 0, 0, 0.25);
}
.account :global(.row) {
  color: black;
}

.album-list {
  stroke: rgba(0, 0, 0, 0.35);
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  transition: background-color 400ms;
}
.album-list li {
  display: contents;
}
.album-list .album:hover {
  background-color: #fafafa;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.04), inset 0 -1px 0 0 rgba(0, 0, 0, 0.04);
}
@media (pointer: coarse) {
  .album-list .album:hover {
    background-color: unset;
    box-shadow: none;
  }
}
.album-list .album:active {
  transition: none;
  background-color: #f0f0f0;
}
.album {
  display: flex;
  align-items: center;
}
.album > svg {
  margin-right: 1em;
}
.album h2 {
  margin-bottom: 0;
}
.album p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  color: #424242;
}
.image-wrapper {
  padding: 0.4em 0.8em;
}
.image-inner {
  border-radius: 0.2rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  height: 2.5em;
  overflow: hidden;
}
.album:hover {
  text-decoration: none;
}

.album img {
  display: block;
  height: 100%;
  position: relative;
}

.text-wrapper {
  height: auto;
  margin-right: 1em;
  align-self: center;
  color: black;
  width: 100%;
}

.row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-bottom span {
  color: rgba(0, 0, 0, 0.7);
}
.primary-text {
  font-weight: bold;
}
.secondary-text {
  color: rgba(0, 0, 0, 0.65);
}

.user-info {
  display: flex;
  width: 100%;
  margin: -0.7rem;
  font-size: 1rem;
  font-weight: normal;
  align-items: center;
}
.user-info > * {
  margin: 0.7rem 0 0.7rem 0.7rem;
}
.user-image {
  flex-basis: 20%;
  border-radius: 50%;
}
.user-image img {
  width: 100%;
  display: block;
}
.display-name {
  font-size: 1.2rem;
}
.username {
  color: rgba(0, 0, 0, 0.5);
}
