.main {
  background-color: #f6f5f4;
  height: 100vh;
}

.main section {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.14);
  background-color: white;
  max-width: 32rem;
  margin: 0 auto;
  padding: 0.8em 1px 0;
  border-radius: 0.5em;
}
.main h3 {
  margin: 0 auto;
  max-width: 32rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2rem 1rem 0.5rem;
}

.album-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.album-list li {
  display: contents;
}
.album-list .album:hover {
  background-color: #fafafa;
}
.album {
  display: flex;
  align-items: center;
}
.album > svg {
  margin-right: 1em;
}

.album h2 {
  margin-bottom: 0;
}
.album p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  color: #424242;
}
.image-wrapper {
  padding: 0.4em 0.8em;
}
.image-inner {
  border-radius: 0.2rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  height: 3em;
  overflow: hidden;
}
.album:hover {
  text-decoration: none;
}

.album img {
  display: block;
  height: 100%;
  position: relative;
}

.text-wrapper {
  height: auto;
  margin-right: 1em;
  align-self: center;
  color: black;
  width: 100%;
}

.row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-bottom span {
  color: rgba(0, 0, 0, 0.7);
}
.primary-text {
  font-weight: bold;
}
.secondary-text {
  color: rgba(0, 0, 0, 0.65);
}

.divider {
  padding: 1em 0;
}

.row {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
}

section.account {
  padding: 0;
}
.account .text {
  flex-grow: 1;
}