.home {
  display: flex;
  flex-direction: column;
  display: flow-root;
}

.home > article:last-child {
  padding-bottom: 8rem;
}
.logo {
  height: 1.65rem;
  margin: 0 .75rem;
  width: auto;
}
.profile-image {
  border-radius: 100px;
  box-shadow: inset rgba(0, 0, 0, 0.01) 0 0 4px, inset rgba(0, 0, 0, .1) 0 0 2px;
  display: block;
  background-color: #f8f8f8;
  margin-right: .5rem;
}
.main {
  padding: 1rem;
  background-color: white;
}
.main section {
  margin-top: 4rem;
}

.main section:first-child {
  margin-top: 0;
}
.main section h2 {
  margin-top: 2rem;
}
.separator {
  margin: 3rem -1rem 2rem;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.04);
}
.home footer {
  padding: 0 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.55);
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.home footer > * {
  padding: 0.5em;
  display: inline-block;
}
