.header {
  background-color: rgba(252, 252, 252, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header .inner {
  max-width: 800px;
  margin: 0 auto 1em;
  padding: 1em 1rem 0;
}

.header nav {
  margin-top: 2.3em;
  margin-left: -0.4em;
  display: flex;
}

.home footer {
  padding: 0 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.55);
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.home footer > * {
  padding: 0.5em;
  display: inline-block;
}

