.song-list {
  list-style-type: none;
  padding: 0;
  margin: 1rem -1rem;
}

.song-item {
  display: flex;
  color: black;
  font-size: 1rem;
  padding: 0.4375rem 1rem 0.4375rem 1rem;
}
.song-list li {
  border-bottom: 2px solid rgba(0, 0, 0, 0.02);
}
.song-list li:last-child {
  border-bottom: none;
}
@media (hover: hover) {
  .song-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .song-item:hover .song-text::after {
    background-image: linear-gradient(to left, #f7f7f7, rgba(255, 255, 255, 0));
  }
}
.song-body:active {
  opacity: 0.6;
}

.song-body {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.song-body button {
  color: rgba(0, 0, 0, 0.42) !important;
  margin-right: -1rem;
}
.song-title,
.song-infos {
  display: inline-block;
  white-space: nowrap;
  text-overflow: clip;
}
.song-text {
  flex-grow: 1;
  width: 3em;
  overflow: hidden;
  position: relative;
}
.song-text::after {
  position: absolute;
  content: '';
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1.75rem;
  background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.song-title {
  color: black;
}
.song-infos {
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.5);
}
.cover-image {
  border-radius: 0.25rem;
  overflow: hidden;
  width: 3rem;
  flex-shrink: 0;
  align-self: center;
  margin-left: 1rem;
  margin-right: -0.25rem;
}

@media screen and (min-width: 50rem) {
  .song-list {
    /* border: 2px solid rgba(0, 0, 0, 0.04); */
    /* border-radius: .5rem; */
    /* overflow: hidden; */
    /* margin-left: 0; */
  }
  .song-item {
    /* flex-direction: row-reverse; */
    border-radius: .5rem;
    font-size: 1em;
    padding: .25rem 1rem .25rem 1rem;
  }
  .cover-image {
    /* margin-left: -0.25rem; */
    /* margin-right: 0.75rem; */
  }
  .song-text {
    display: flex;
    align-items: baseline;
  }
  .song-title {
    min-width: 22rem;
    max-width: 22rem;
    overflow: hidden;
  }
  .song-text::after {
    left: 18.5rem;
    width: 3.5rem;
  }
  .song-infos {
    font-size: 1em;
  }
 }