.song-list {
  list-style-type: none;
  padding: 0;
  margin: 1rem -1rem;
}

.song-item {
  display: flex;
  color: black;
  font-size: 1rem;
  padding: 0.325rem 0.75rem 0.325rem 1rem;
  border-top: 2px solid rgba(0, 0, 0, 0.02);
}
.song-body:active {
  opacity: 0.6;
}
.song-list li:first-child .song-item {
  border-top: none;
}
.song-body {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.song-body button {
  color: rgba(0, 0, 0, 0.42) !important; 
}
.song-title,
.song-infos {
  display: inline-block;
  white-space: nowrap;
  text-overflow: clip;
}
.song-text {
  flex-grow: 1;
  width: 3em;
  overflow: hidden;
  position: relative;
}
.song-text::after {
  position: absolute;
  content: '';
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1.75rem;
  background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.song-title {
  color: black;
}
.song-infos {
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.5);
}
.cover-image {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 3rem;
  flex-shrink: 0;
  align-self: center;
}

