a {
  cursor: default;
}

button, a:global(.button) {
  border: none;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  border-radius: 0.38em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  background-color: #007AFF;
  color: white;
  cursor: default;
  transition: background-color 80ms, transform 40ms;
  display: inline-block;
  margin-top: 0.4em;
  margin-bottom: 0.5em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  white-space: nowrap;
  user-select: none;
}

button:global(.white), a:global(.button):global(.white) {
  background-color: transparent;
  color: #007AFF;
  box-shadow: none;
}

@media (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }
  button:hover, a:global(.button):hover {
    background-color: #2f92fc;
    text-decoration: none;
  }
  button:global(.white):hover, a:global(.button):global(.white):hover {
    background-color: inherit;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}

button:active, a:global(.button):active {
  transform: scale(0.95);
}

input[type="text"], input[type="email"], input[type="password"] {
  color: black;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  z-index: 2;
  border-radius: 0.4rem;
  height: 2.5rem;
  max-height: 2.5rem;
  padding: 0 0 0 1.3rem;
  display: flex;
  width: 100%;
  margin: 1rem auto;
  max-width: 24rem;
  box-shadow: 0 3px 13px -3px rgba(0, 0, 0, 0.14);
}

input:focus {
  border-color: #007AFF;
  box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.14), 0 0 3px 0 #007AFF;
}