a {
  cursor: default;
}

button,
a.button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background-color: #007AFF;
  color: white;
  cursor: default;
  transition: background-color 80ms, transform 50ms;
  display: inline-block;
  margin-top: 0.4em;
  margin-bottom: 0.5em;
}

@media (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }

  button:hover,
  a.button:hover {
    background-color: #2f92fc;
    text-decoration: none;
  }
}

button:active,
a.button:active {
  transform: scale(0.9);
}
