@import 'normalize.css';

:root {
	-moz-tab-size: 4;
	tab-size: 4;
}


@import url('https://rsms.me/inter/inter.css');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Inter',
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}
@supports (font-variation-settings: normal) {
  html {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      'Inter',
      'Inter var'
      'Segoe UI',
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol';
  }
}

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 1em;
}

hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: calc(2.65em + 6*(100vw - 400px)/(1250 - 400));
}
h2 {
  font-size: 1.4rem;
  font-weight: normal;
}
