.action-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background-color: transparent;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 200ms linear;
}
.action-menu:global(.open) .background {
  transition: opacity 200ms linear;
  opacity: 0.3;
}
.container {
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 .5rem .5rem;
  margin: 0 auto;
  max-width: 32rem;
}

.action-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto .375rem;
  border-radius: 0.75rem;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
  background-color: white;
  width: 100%;
  box-shadow:inset rgba(0, 0, 0, 0.3) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 5px 26px 0;
}
.action-list li,
.cancel {
  padding: 1.2rem;
  font-size: 1rem;
}
.action-list li {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  font-weight: 500;
  border-top: 2px solid rgba(0, 0, 0, 0.02);
}
.action-list li:active {
    background-color: rgba(0, 0, 0, 0.07);
}

.action-list li:first-child {
  border-top: none;
  padding-top: calc(1.2rem + 2px);
}
@supports (backdrop-filter: blur(30px)) {
  .action-list {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
  .action-list li:active {
    background-color: rgba(0, 0, 0, 0.07);
  }
}
.action-list li :global(.icon) {
  position: absolute;
  right: 1.3rem;
}

.cancel {
  color: #00a7ff;
  font-weight: 500;
  text-align: center;
  margin: 0 auto 0;
  width: 100%;
  border-radius: 0.75rem;
  background-color: white;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 5px 26px 0;
}
.cancel:active {
  background-color: #f0f0f0;
}