.back-button {
  align-items: center;
  display: flex;
  padding: 1em 1em 1em 0.8em;
  transition: opacity 50ms !important;
  user-select: none;
  stroke-linejoin: round;
  stroke-linecap: round;
  color: black;
}

.back-button > span {
  position: relative;
  top: 1px;
  text-decoration: none;
}

.text {
  transform: translateY(1px);
}
.text span {
  vertical-align: -moz-middle-with-baseline;
}

@media (pointer: fine) {
  .back-button:hover {
    opacity: 0.75;
    text-decoration: none;
  }
}

.back-button:active {
  opacity: 0.5;
}
