.header-nav {
  height: 3.25rem;
  position: sticky;
  top: 0px;
  font-size: 1rem;
  background-color: rgba(252, 252, 252, 1);
  z-index: 1001;
  stroke: #007aff;
  transition: background-color 200ms, box-shadow 200ms;
}
:global(.not-standalone) .header-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

:global(.not-standalone) .header-nav + .header-title {
  margin-top: 3.25rem;
}

.no-sticky .header-nav,
.no-sticky .header-line {
  position: relative;
  top: 0;
}
.header-nav .content {
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
}
.header-nav .container {
  display: flex;
  flex-basis: 33.333%;
  padding: 0 0.1em;
}
.header-nav .container:nth-child(2) {
  justify-content: center;
  width: 100%;
}
.header-nav .container:nth-child(3) {
  justify-content: flex-end;
}
.header-nav .item {
  position: relative;
  white-space: nowrap;
}
.header-nav .container:nth-child(2) .item {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

@supports (backdrop-filter: blur(30px)) {
  .header-nav {
    background-color: rgba(252, 252, 252, 0.85);
    backdrop-filter: blur(60px);
  }
}
.header-nav pre {
  margin: 0;
}
.header-nav .dynamic-title {
  transition: opacity 100ms 0ms;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.header-nav.header-title-hidden {
  transition: background-color 1000ms;
  background-color: rgba(255, 255, 255, 0.975);
  box-shadow: rgba(0, 0, 0, .1) 0 0 1px, rgba(0, 0, 0, .1) 0 0 3px
}
.header-nav.header-title-hidden .dynamic-title {
  transition: opacity 200ms 200ms;
  opacity: 1;
}
.header-nav .item .middle {
  transition: opacity 200ms 200ms;
}
.header-nav.header-title-hidden .middle {
  transition: opacity 200ms 0ms;
  opacity: 0;
}
.header-line {
  border: none;
  margin: 0;
  position: sticky;
  top: 3rem;
  border-bottom: 1px solid #dadada;
  z-index: 1000;
}

.header,
.header header {
  display: contents;
}

.header-title {
  background-color: rgba(252, 252, 252, 0.95);
  box-shadow: 0 0 0 1px #fdfdfd;
  position: relative;
  z-index: 100;
}
.header-title h1 {
  font-size: calc(2.65em + 6*(100vw - 400px)/(1250 - 400));
  max-width: 65rem;
  margin: 0 auto;
  height: auto;
  min-height: 4rem;
  padding: 0em 0.45em 0.24em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (min-width: 50rem) {
  .header-nav + .header-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}