.page {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.page > * {
  -webkit-transform: translate3d(0,0,0); /* Prevent Safari scroll glitching */
}
