.page {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(252, 252, 252);  
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  -webkit-perspective: 0;
  z-index: 1;
  scrollbar-width: thin;
}
.page > div {
  padding-bottom: 4em;
  background-color: white;
  min-height: 100%;
}
.page > * {
  -webkit-transform: translate3d(0,0,0); /* Prevent Safari scroll glitching */
}
