ui-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
:global(.not-standalone) ui-page:global(.active) {
  position: relative;
  overflow: auto;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  width: 100%;
}
:global(.not-standalone) ui-page:not(:global(.active)) {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 2px #f0f0f0;
  background-color: white;  
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  /* -webkit-perspective: 0; */
  z-index: 1;
  transform: translateX(100%);
}
:global(.not-standalone) .page {
  transition: none;
  opacity: 0;
  transform: none;
  position: relative;
  overflow: auto;
  height: auto;
}
:global(.not-standalone) :global(.active) .page.loaded {
  transition: opacity 150ms linear;
  opacity: 1;
}
.page > div {
  background-color: white;
  min-height: 100%;
}
