.ui-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translateY(50%);
}

.ui-spinner_bar {
  animation: ui-spinner_spin 1s linear infinite;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  width: 11px;
  height: 3px;
  top: -3.9%;
  left: -20%;
}

@keyframes ui-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes ui-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes ui-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}