.tab-bar {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  z-index: 1090;
  justify-content: center;
  user-select: none;
  overscroll-behavior: contain;
  background-color: rgba(255, 255, 255, 0.97);
  /* box-shadow: rgba(0, 0, 0, .12) 0 0 2px, rgba(0, 0, 0, .03) 0 0 4px, rgba(0, 0, 0, .03) 0 0 9px; */
  box-shadow: rgba(0, 0, 0, .1) 0 0 3px, rgba(0, 0, 0, .2) 0 10px 14px 5px, rgba(0, 0, 0, .3) 0 30px 30px 10px;
  border-radius: .75rem .75rem 0 0;
  overflow: hidden;
  contain: layout paint;
}

.top-row {
  color: rgba(0, 0, 0, 0.7);
  min-height: 3.25rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* background-color: rgba(253, 253, 253, .975); */
  /* font-size: .9rem; */
}

.top-row > * {
  position: relative;
}
.top-row button {
  color: rgba(0, 0, 0, 0.9) !important;
}
.top-row button svg {
  fill: rgba(0, 0, 0, 0.9);
  stroke: rgba(0, 0, 0, 0.9);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.cover-image {
  width: 3.25rem;
  border-radius: .375rem;
  margin: .75rem .75rem;
}
.title-wrapper {
  flex-grow: 1;
  align-self: strech;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: .25rem;
  margin-top: .5rem;
}
.song-title {
  display: block;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
.cover-image:active + .song-title,
.song-title:active {
  opacity: .6;  
}
.progress-bar {
  height: 4px;
  border-radius: 100px;
  width: calc(100% - 1.5rem);
  /* right: 100%; */
  position: relative;
  /* top: 1px; */
  z-index: 3;
  margin-top: .5rem;
  background-color: rgba(0, 0, 0, .05);
  overflow: hidden;
}

.progress-bar > div {
  transform: translateX(100%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.bottom-row {
  display: flex;
  position: relative;
  /* background-color: white; */
  /* box-shadow: rgba(0, 0, 0, .1) 0 0 1px, rgba(0, 0, 0, .1) 0 0 3px; */
}

@supports (backdrop-filter: blur(30px)) {
  /* .top-row {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
  } */
  .tab-bar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(25px);
  }
}

.item {
  font-size: 0.75rem;
  flex-basis: 7rem;
  flex-grow: 1;
  padding: 0.2rem 0.15rem 0.5rem;
  text-align: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7%;
  color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

@media (hover: hover) and (pointer: fine) {
  .item:hover {
    background-color: #f0f0f0;
  }
}
.item.active {
  color: #007AFF;
}
.item .icon {
  height: 32px;
}
.item svg {
  margin: 5px;
}

.item img {
  display: block;
  width: auto;
}
.item.player {
  flex-basis: 0px;
  padding-right: 0.75rem;
  padding-left: 1rem;
  cursor: pointer;
}

@media (pointer: fine) {
  .item.player:hover {
    background-color: transparent;
    opacity: 0.75;
  }
}
.item.player img {
  border-radius: 0.25rem;
  width: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px -3px;
}

@media (min-width: 768px) {
  .item {
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    padding: 0.8em 2em;
    width: auto;
  }
  .item > span {
    margin-left: 0.25em;
    transform: translateY(1px);
  }
}

@media (min-width: 900px) {
  .tab-bar {
    flex-direction: row-reverse;
  }
  .item {
    padding: 0.9em 2em;
  }
  .bottom-row {
    flex-grow: 3;
  }
  .top-row {
    flex-grow: 1;
  }
  .song-title {
    padding: 0 1.5rem;
  }
}