.tab-bar {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1090;
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: center;
}
@supports (backdrop-filter: blur(30px)) {
  .tab-bar {
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(60px);
  }
}

.item {
  width: 5.5rem;
  padding: 0.45rem 0.15rem;
  text-align: center;
  cursor: default;
  margin: 5px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3%;
  border: 1px solid transparent;
}
.item:hover {
  background-color: #f0f0f0;
  border-color: #e0e0e0;
}
.item.active {
  background-color: #e3effc;
  border-color: #c2defc;
}
.item .icon {
  height: 32px;
}
.item img {
  display: block;
}
