.tab-bar {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1090;
  background-color: white;
  box-shadow:
    inset rgba(0, 0, 0, 0.2) 0 2px 3px -3px,
    rgba(0, 0, 0, 0.02) 0 0 30px 0;
  justify-content: center;
  user-select: none;
}
@supports (backdrop-filter: blur(30px)) {
  .tab-bar {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(40px);
  }
}

.item {
  font-size: 0.75rem;
  width: 7rem;
  padding: 0.2rem 0.15rem 0.2rem;
  text-align: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7%;
  color: rgba(0, 0, 0, 0.5);
  align-items: center;
}
.item:active {
  background-color: #f0f0f0;
}
@media (pointer: fine) {
  .item:hover {
    background-color: #f0f0f0;
  }
}
.item.active {
  color: #007AFF;
}
.item .icon {
  height: 32px;
}
.item svg {
  margin: 5px;
}

.item img {
  display: block;
  width: auto;
}
.item.player img {
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px -3px;
}

@media (min-width: 800px) {
  .item {
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    padding: 0.3em 2em;
    width: auto;
  }
  .item > span {
    margin-left: 0.25em;
    transform: translateY(1px);
  }
}